<div class="formmargin" id="container" style="background-color: white;width: 100%;">
    <div class="header">
        <p class="border">Document Creation </p>

    </div>
    <div fxLayout="row" style="margin-top: 1.5rem;" fxLayout.lt-md="row wrap">


        <div fxLayout="column" fxFlex="10">
            <div class="text_sign">Sign Type</div>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="mainselect">
                <mat-select [(value)]="selected" class="dropdown_first">
                    <mat-option value="option1">SignAadhar</mat-option>
                    <mat-option value="option2">SignCaPfx</mat-option>
                    <mat-option value="option3">SignCaToken</mat-option>
                    <mat-option value="option4">SignSelf</mat-option>
                </mat-select>
            </div>

        </div>
        <div fxLayout="column" fxFlex="15" style="position: relative;">
            <div class="text_Due">Due Date</div>
            <div fxLayout="row" fxLayoutAlign="start center" class="searchbar">
                <input matInput [matDatepicker]="picker" class="inp_datepkr">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>
        </div>
        <div fxFlex="8"></div>
        <div fxLayout="column" fxFlex="10">
            <div class="text_Ref">Reference</div>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="mainselect1">
                <mat-select [(value)]="selected1" class="dropdown_second">
                    <mat-option>None</mat-option>
                    <mat-option value="option1">Token</mat-option>
                    <mat-option value="option2">PO</mat-option>
                </mat-select>
            </div>
        </div>
        <div fxLayout="column" fxFlex="15">
            <div class="text_Refno">Reference No</div>
            <div fxLayout="row" fxLayoutAlign="start center" class="searchbar1">
                <input class="inputfield" style="font-weight: bold;">
            </div>
        </div>


        <div fxFlex fxLayout="row" fxFlex fxLayoutAlign="end center" class="all_top">
            <div fxFlex="8"></div>
            <div fxLayout="column" fxLayoutAlign="start center">
                <p class="text_all"> All Users </p>
                <div class="border_all">
                </div>
            </div>
            <button mat-stroked-button style="width: 130px;height: 40px;border-color: #64a8e3;background-color: #edf7ff;margin-right: 10px;" fxLayout="row">
                <img src="../../assets/image/vsign/document (1).png " class="folder">
                <p class="txt_cpy" >Copy from</p>
                <p class="txt_temp" >Template</p>
            </button>


            <button mat-stroked-button style="width: 130px;height:40px;border-color: #faaa55;background-color: #fffdf4;" (click)="onCreate()" fxLayout="row">
                <div class="fabbox" style="margin-top: 11px;">
                    <img src="../../assets/image/vsign/add.png" style="width:8px;">
                </div>
                 <p style="margin-top: -27px;margin-left: 30px;" >Add User</p>
            </button>

        </div>

    </div>
    <div fxLayout="row" fxLayout.lt-md="row wrap">
        <div fxFlex.gt-sm="58" fxFlex.gt-xs="100" fxFlex.lt-sm="100">
            <div class="text_rem">Remarks</div>
            <div fxLayout="row" fxLayoutAlign="start center" class="remarks">
                <textarea class="inputfield1"></textarea>

            </div>
        </div>
        <div fxFlex="7"></div>
        <div fxLayout="column" fxFlex>

            <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let item of arr; index as i" cdkDrag fxLayout="row">

                    <section style="position: relative;">

                        <img src="../../assets/image/vsign/user-2.png" class="img_all">

                        <div class="txt_prdtname">{{item.username}}</div>

                        <div style="margin-left: 60px;">{{item.role}}</div>


                    </section>
                    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="25px">

                        <img src="../../assets/image/vsign/sign-delete-icon.png" style="width: 30px;height: 30px;cursor: pointer;" (click)="removeItem(i)">
                        <div style=" cursor: move;" cdkDragHandle>
                            <div class="smline1"></div>
                            <div class="smline2"></div>
                            <div class="smline3"></div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

    <div fxLayout="column" fxLayoutAlign="center center" style="border: none;" class="drop">
        <div class="drop-container" ngFileDrop [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" [ngClass]="{ 'is-drop-over': dragOver }">
            <h1 class="dropfiles">Drop files here to add</h1>
        </div>
        <p class="txt_or">OR</p>
        <!-- <button mat-stroked-button class="btn_browse"> -->

        <div for="test">
            <!-- <p>Browse file</p> -->
            <input type="file" id="test" #fileInput ngFileSelect [options]="options" (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" multiple style="display: none" />
            <button (click)="fileInput.click()" class="upldbtn"><img style="width: 20px;height: 20px;" src="../../assets/image/folder (1).svg"><p class="browse">Browse file</p></button>
        </div>
        <!-- <img src="../../assets/image/vsign/folder (1).png" class="folder"> -->


        <!-- </button> -->
        <!-- <button type="button" class="start-upload-btn" >
            Start Upload
        </button> -->


        <!-- </button> -->
        <!-- <label class="upload-button">
            <input type="file" ngFileSelect [options]="options" [uploadInput]="uploadInput" multiple>
            Browse file
        </label> -->
    </div>

    <!-- <button mat-button class="button" style="border:none;box-shadow:none" (click)="startUpload()">Submit</button> -->
    <button mat-raised-button class="button" style="border:none;box-shadow:none;background-color: #efb577;color: white;width: 13rem;position: absolute;
    right: 30px;margin-top: 1%;margin-top: 2%;" (click)="startUpload()">Submit</button>
    <!-- <pre>{{files1 | json}}</pre> -->
    <div *ngIf="flag" fxLayout="row" fxLayoutAlign="start" fxLayoutGap="11px">
        <div *ngFor="let item of files1">
            <p style="color:  #4784f7;">{{item.name}}</p>
            <p>{{item.size | filesize}} </p>
        </div>
    </div>
</div>